<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SubirArchivoServlet</servlet-name>
        <servlet-class>com.zonajava.controlador.SubirArchivoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.zonajava.controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.zonajava.controlador.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarArchivoServlet</servlet-name>
        <servlet-class>com.zonajava.controlador.EditarArchivoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarArchivoServlet</servlet-name>
        <servlet-class>com.zonajava.controlador.EliminarArchivoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuarioServlet</servlet-name>
        <servlet-class>com.zonajava.controlador.RegistroUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarPerfilServlet</servlet-name>
        <servlet-class>com.zonajava.controlador.ActualizarPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearSemanaServlet</servlet-name>
        <servlet-class>com.zonajava.controlador.CrearSemanaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarSemanaServlet</servlet-name>
        <servlet-class>com.zonajava.controlador.EditarSemanaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarSemanaServlet</servlet-name>
        <servlet-class>com.zonajava.controlador.EliminarSemanaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubirArchivoServlet</servlet-name>
        <url-pattern>/SubirArchivoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarArchivoServlet</servlet-name>
        <url-pattern>/EditarArchivoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarArchivoServlet</servlet-name>
        <url-pattern>/EliminarArchivoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuarioServlet</servlet-name>
        <url-pattern>/RegistroUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarPerfilServlet</servlet-name>
        <url-pattern>/ActualizarPerfilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearSemanaServlet</servlet-name>
        <url-pattern>/CrearSemanaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarSemanaServlet</servlet-name>
        <url-pattern>/EditarSemanaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarSemanaServlet</servlet-name>
        <url-pattern>/EliminarSemanaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
